<div class="w-full h-screen absolute">
  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/06140a9d-1823-42ef-b611-180938bb7dc9/TR-tr-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg"
    alt=""
    class="w-full h-full object-cover"
  />
</div>
<div
  class="max-w-[520px] flex flex-col justify-center items-center absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80"
>
  <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>
  <div id="google-btn">
    
  </div>
</div>
